!!! XML
!!!
%html{ :lang => 'en', :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en'}
  %head
    %title= @title

    / Meta
    %meta{ 'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8' }

    / FavIcon
    %link{ :rel => 'shortcut icon', :href => '' }

    / CSS
    %style{ :type => 'text/css', :media => 'all'} @import url('http://assets.ravinggenius.com/css?html5reset=1.4');
    %style{ :type => 'text/css', :media => 'all'} @import url('/styles/application.css');

    / JavaScript
    %script{ :type => 'text/javascript', :src => 'http://assets.ravinggenius.com/js?jquery=1.4' }
    %script{ :type => 'text/javascript', :src => '/scripts/application.js' }

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-xxxxxxx-xx']);
      _gaq.push(['_trackPageview']);

      (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();

  %body
    = yield

    %script{ :type => 'text/javascript', :src => '//static.woopra.com/js/woopra.v2.js' }
    :javascript
      woopraTracker.track();
